*.pyc
*.pyo
*.class
*~
*#
/docs/generated/*
/docs/_build
/runpy
/build
.coverage*
.idea**
.history**
.cache**
.eggs**
*.egg**
.*.swp
.mypy_cache
.pytest_cache
tags
sockeye/__pycache__
corpus.*
vectors-eu.txt
*300.bin
transformer_en_de_512_WMT2014-e25287c5.*
*.vec
berteus-base-cased
RoBasquERTa
opus-mt-de-en
en-eu-concat-emb
vector-eu-fasttext.txt
*.vec_underline*
ted_en.xml
ted_de.xml
tools/data*
ALT-Parallel-Corpus-20191206
URL-*
en-my-concat-emb
wiki_data
train
*articles.xml.bz2
vectors-de.txt*
fasttext_train_*
tr-en-subword.dic.all
*-concat-emb
*-checkpoint-*
*.tsv
target
prediction
GenerationEval/metrics
data.zip
eflomal
fast_align
eflomal_data.id-en